.cardItems {
  background-color: rgb(3, 46, 48);
  cursor: pointer;
  min-height: 450px;
  height: 100%;
  margin: 10px;
}

.cardTop {
  height: 300px;
}

.cardTop img {
  width: 100%;
  height: 100%;
}

.cardInfo {
  color: goldenrod;
}

.cardBottom {
  padding: 20px;
}

.cardInfo h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
